<?xml version="1.0"?>
<connectionStrings>
  <add name="SQLAzureConnection" connectionString="Server=tcp:{serverName}.database.windows.net,1433;Database=EverisTest2015;User ID={userName};Password={Password};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
    providerName="System.Data.SqlClient" />
</connectionStrings>
